In [5]:
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.preprocessing import MinMaxScaler

**1) A F&B manager wants to determine whether there is any significant 
difference in the diameter of the cutlet between two units. A randomly 
selected sample of cutlets was collected from both units and measured? 
Analyze the data and draw inferences at 5% significance level. Please state 
the assumptions and tests that you carried out to check validity of the 
assumptions.**

**File**: Cutlets.csv

In [20]:
df1 = pd.read_csv(r'E:\Study Materials DATA SCIENCE\360digitmg\Assingment Folder\Assingment 21 Hypothesis Technique\Datasets_HT\Cutlets.csv')

df1.dropna(inplace = True)

In [21]:
df1.columns = "unita", "unitb"

In [36]:
# Normality Test
print('Unit A:',stats.shapiro(df1['unita']))
print('Unit B:',stats.shapiro(df1['unitb']))
# p value = 0.32 > 0.05 = Null hypothesis is passed

Unit A: ShapiroResult(statistic=0.9649458527565002, pvalue=0.3199819028377533)
Unit B: ShapiroResult(statistic=0.9727300405502319, pvalue=0.5224985480308533)

In [26]:
# Variance test
stats.levene(df1['unita'], df1['unitb']) 

# # p value = 0.42 > 0.05 = Equal variance

LeveneResult(statistic=0.6650897638632386, pvalue=0.4176162212502553)

In [27]:
# 2 sample T test
stats.ttest_ind(df1['unita'], df1['unitb'])

#p-value > 0.05
#p-value=0.4722394724599501 the there is no difference in diameter because of high p values

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

**2.) A hospital wants to determine whether there is any difference in the 
average Turn Around Time (TAT) of reports of the laboratories on their 
preferred list. They collected a random sample and recorded TAT for 
reports of 4 laboratories. TAT is defined as sample collected to report 
dispatch.
Analyze the data and determine whether there is any difference in 
average TAT among the different laboratories at 5% significance level.**

**File:** LabTAT.csv

In [33]:
df2 = pd.read_csv(r'E:\Study Materials DATA SCIENCE\360digitmg\Assingment Folder\Assingment 21 Hypothesis Technique\Datasets_HT\lab_tat_updated.csv')
df2.head()

   Laboratory_1  Laboratory_2  Laboratory_3  Laboratory_4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [37]:
# Normality Test
print('Laboratory_1',stats.shapiro(df2.Laboratory_1)) # Shapiro Test
print('Laboratory_2',stats.shapiro(df2.Laboratory_2)) # Shapiro Test
print('Laboratory_3',stats.shapiro(df2.Laboratory_3)) # Shapiro Test

# p value = 0.32 > 0.05 = Null hypothesis is passed

Laboratory_1 ShapiroResult(statistic=0.9886691570281982, pvalue=0.42317795753479004)
Laboratory_2 ShapiroResult(statistic=0.9936322569847107, pvalue=0.8637524843215942)
Laboratory_3 ShapiroResult(statistic=0.9796067476272583, pvalue=0.06547004729509354)

In [39]:
# Variance test
#help(scipy.stats.levene)
# All 3 suppliers are being checked for variances
print('Variance test:',stats.levene(df2.Laboratory_1, df2.Laboratory_2, df2.Laboratory_3))

# # p value = 0.42 > 0.05 = Equal variance

Variance test: LeveneResult(statistic=1.5377583444327503, pvalue=0.21628196457198148)

In [41]:
# One - Way Anova
F, p = stats.f_oneway(df2.Laboratory_1, df2.Laboratory_2, df2.Laboratory_3)
print('p value:', p)

#p-value < 0.05
# All the 3 laboratories have equal mean difference in TAT time

p value: 1.0799252415207089e-30

**3.) Sales of products in four different regions is tabulated for males and 
females. Find if male-female buyer rations are similar across regions.
 East West North South**

**File:** Buyerratio.csv

In [74]:
df3 = pd.read_csv(r'E:\Study Materials DATA SCIENCE\360digitmg\Assingment Folder\Assingment 21 Hypothesis Technique\Datasets_HT\Buyerratio.csv')
df3.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [99]:
#Rename of Column name
df3.rename(columns={"Observed Values":"Gender"}, inplace=True)
df3.columns

Index(['Gender', 'East', 'West', 'North', 'South'], dtype='object')

In [101]:
#replacing the gender with 0 and 1
df3["Gender"].replace("Males", 0 , inplace = True)
df3["Gender"].replace("Females", 1 , inplace = True)
df3

   Gender  East  West  North  South
0       0    50   142    131     70
1       1   435  1523   1356    750

In [103]:
Chisquare_results = stats.chi2_contingency(df3)
Chisquare_results

(1.6929696469183673,
 0.7919942975413565,
 4,
 array([[8.81561238e-02, 4.27557201e+01, 1.46779946e+02, 1.31088156e+02,
         7.22880215e+01],
        [9.11843876e-01, 4.42244280e+02, 1.51822005e+03, 1.35591184e+03,
         7.47711978e+02]]))

In [104]:
Chi_square = [["Test statistics", "p-value"],[Chisquare_results[0],Chisquare_results[1]]]
Chi_square
#AS p = 0.7919942975413565 p > 0.05 so Fails to reject null hypothesis

[['Test statistics', 'p-value'], [1.6929696469183673, 0.7919942975413565]]

In [110]:
count = pd.crosstab(df3["East"], df3["West"])
print(count)

print('')
# In[37]:


Chisquares_results = stats.chi2_contingency(count)
print(Chisquares_results)
Chi_square = [['Test Statistic', 'p-value'], [Chisquares_results[0], Chisquares_results[1]]]
Chi_square

West  142   1523
East
50       1     0
435      0     1

(0.0, 1.0, 1, array([[0.5, 0.5],
       [0.5, 0.5]]))

[['Test Statistic', 'p-value'], [0.0, 1.0]]

**4.) Telecall uses 4 centers around the globe to process customer order forms. 
They audit a certain % of the customer order forms. Any error in order form 
renders it defective and must be reworked before processing. The manager 
wants to check whether the defective % varies by center. Please analyze 
the data at 5% significance level and help the manager draw appropriate 
inferences**

**File:** Customer OrderForm.csv

In [82]:
df4 = pd.read_csv(r'E:\Study Materials DATA SCIENCE\360digitmg\Assingment Folder\Assingment 21 Hypothesis Technique\Datasets_HT\CustomerOrderform.csv')
df4.dropna(inplace=True)
df4.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [83]:
print(df4.isnull().sum())

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [86]:
# chi- Square test (between Phillippines & Indonesia)

count = pd.crosstab(df4["Phillippines"], df4["Indonesia"])
print(count)
print('---------------------------------------')

# 2 sample T Test
Chisquares_results = stats.chi2_contingency(count)

Chi_square = [['Test Statistic', 'p-value'], [Chisquares_results[0], Chisquares_results[1]]]
print('Result of Phillippines & Indonesia:',Chi_square)

Indonesia     Defective  Error Free
Phillippines
Defective             2          27
Error Free           31         240
---------------------------------------
Result of Phillippines & Indonesia: [['Test Statistic', 'p-value'], [0.1856391005881107, 0.6665712150680798]]

In [88]:
# chi- Square test (between Malta & India)
count = pd.crosstab(df4["Malta"], df4["India"])
print(count)
print('---------------------------------------')

# 2 sample T Test
Chisquares_results = stats.chi2_contingency(count)

Chi_square = [['Test Statistic', 'p-value'], [Chisquares_results[0], Chisquares_results[1]]]
print('Result of Phillippines & Indonesia:',Chi_square)

India       Defective  Error Free
Malta
Defective           0          31
Error Free         20         249
---------------------------------------
Result of Phillippines & Indonesia: [['Test Statistic', 'p-value'], [1.419106436194816, 0.23355053527979247]]

**5.) Fantaloons Sales managers commented that % of males versus females 
walking into the store differ based on day of the week. Analyze the data 
and determine whether there is evidence at 5 % significance level to 
support this hypothesis.**

**File:** Fantaloons.csv

In [92]:
df5 = pd.read_csv(r'E:\Study Materials DATA SCIENCE\360digitmg\Assingment Folder\Assingment 21 Hypothesis Technique\Datasets_HT\Fantaloons.csv')
df5.dropna()
df5.head()

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female

In [93]:
# chi- Square test (between Weekdays & Weekend)

count = pd.crosstab(df5["Weekdays"], df5["Weekend"])
print(count)
print('---------------------------------------')

# 2 sample T Test
Chisquares_results = stats.chi2_contingency(count)

Chi_square = [['Test Statistic', 'p-value'], [Chisquares_results[0], Chisquares_results[1]]]
print('Result of Weekdays & Weekend:',Chi_square)

Weekend   Female  Male
Weekdays
Female       167   120
Male          66    47
---------------------------------------
Result of Weekdays & Weekend: [['Test Statistic', 'p-value'], [0.005274808283592733, 0.9421022439386241]]